html,
        body {
            width: 100%;
         height: 100%;
        }
 .container {
            display: grid;
            grid-template-rows: 15% 85%;            
            grid-template-columns: 17% 41.5% 41.5%;
            width: 100%;
         height: 100%;
              
         color: #ffffff;

        }
        .indice {
            grid-row:1/3;
            display: flex;
justify-content: center;
align-items: center;
background-color:#00005B;
    


        }
        .formacion {
            font-family: algerian;
            font-size:30px;
            display: flex;
justify-content: center;
align-items: center;
background-color:#000099;
            
        }
        .contenidoFormacion {
            font-family: arial;            
            text-align: center;
            background-color:#000099;
        
        }
        .experiencia {
            font-family: algerian;
            font-size:30px;
            display: flex;
justify-content: center;
align-items: center;
background-color:#00005B;
            
        }
        .contenidoExperiencia {
            font-family: arial;            
            text-align: center;
            background-color:#00005B;
        }